table {
    width: 100%;
    table-layout: fixed;
}

.mat-paginator {
    position: sticky;
    bottom: 0;
}

td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
  }
