<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Carousel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" wtx-context="7DA87984-599F-4125-85E2-04C95BC1BC2A">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" wtx-context="44EB97DC-BA3A-42D7-809C-04279EEC32CE">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<h1>{{title}}</h1>

<section>
  <button mat-flat-button color="primary" id="downloadbutton">Download</button>
  <button mat-flat-button color="warn" id="uploadbutton">Upload</button>
</section>


<table mat-table class="mat-elevation-z8">

    <tr>
      <th mat-header-cell style="width: 3%">ID</th>
      <th mat-header-cell style="width: 10%">Project Name</th>
      <th mat-header-cell style="width: 5%">Platform Number</th>
      <th mat-header-cell style="width: 5%">Cost Element</th>
      <th mat-header-cell style="width: 5%">Sub Cost Element</th>
      <th mat-header-cell style="width: 5%">Section</th>
      <th mat-header-cell style="width: 5%">Material Type</th>
      <th mat-header-cell style="width: 5%">Material Variant</th>
      <th mat-header-cell style="width: 5%">Procurement Method</th>
      <th mat-header-cell style="width: 5%">DWG Number</th>
      <th mat-header-cell style="width: 5%">DWG Code</th>
      <th mat-header-cell style="width: 5%">Material Group</th>
      <th mat-header-cell style="width: 7%">Description</th>
      <th mat-header-cell style="width: 5%">Diameter</th>
      <th mat-header-cell style="width: 5%">Thickness</th>
      <th mat-header-cell style="width: 5%">NAL</th>
      <th mat-header-cell style="width: 5%">Unit Weight</th>
      <th mat-header-cell style="width: 5%">BaseWeight</th>
      <th mat-header-cell style="width: 5%">Surface Area</th>
    </tr>
      
    <tr *ngFor='let entry of entries'>
      <td mat-cell style="width: 3%">{{entry.id}}</td>
      <td mat-cell style="width: 10%">{{entry.projName}}</td>   
      <td mat-cell style="width: 5%">{{entry.platNo}}</td>
      <td mat-cell style="width: 5%">{{entry.costElement}}</td>    
      <td mat-cell style="width: 5%">{{entry.subCostElement}}</td>    
      <td mat-cell style="width: 5%">{{entry.section}}</td>    
      <td mat-cell style="width: 5%">{{entry.matType}}</td>    
      <td mat-cell style="width: 5%">{{entry.matVariant}}</td>    
      <td mat-cell style="width: 5%">{{entry.procMethod}}</td>    
      <td mat-cell style="width: 5%">{{entry.dwgNo}}</td>     
      <td mat-cell style="width: 5%">{{entry.dwgCode}}</td>    
      <td mat-cell style="width: 5%">{{entry.matGroup}}</td>     
      <td mat-cell style="width: 7%">{{entry.description}}</td>    
      <td mat-cell style="width: 5%">{{entry.diameter}}</td>     
      <td mat-cell style="width: 5%">{{entry.thickness}}</td>     
      <td mat-cell style="width: 5%">{{entry.nal}}</td>     
      <td mat-cell style="width: 5%">{{entry.unitWeight}}</td>     
      <td mat-cell style="width: 5%">{{entry.baseWeight}}</td>     
      <td mat-cell style="width: 5%">{{entry.surfaceArea}}</td>  
    </tr>

</table>
